h5::before {
    content: '>';
    margin-right: 0.5em;
}

h6::before {
    content: '>>';
    margin-right: 0.5em;
}

.page-toc {
    float: none;
}

.gitbook-link {
    display: none !important;
}

.book-body {
    padding-bottom: 5rem;
}
